.link_to_tg {
  width: 10vw;
  height: 10vw;
  padding: 1vw;
  border-radius: 25%;
  text-align: center;
  color: rgb(132, 172, 206);
  background-color: rgb(10, 95, 67);
  margin: 50px;
  display: inline-block;
}

body {
  background-color: black;
}
