.link_to_tg {
  width: 20vw;
  position: absolute;
  top: 90vh;
  left: 37vw;
  height: 4vw;
  padding: 1vw;
  border-radius: 1vw;
  font-size: 2vw;
  text-align: center;
  color: rgb(132, 172, 206);
  background-color: rgb(10, 95, 67);
  margin: 2vw;
}

.hidden {
  display: none;
}

.but:active {
  background-color: #631864;
}

.show {
  display: inline-block;
}

.but {
  width: 30vw;
  height: 15vw;
  padding: 1vw;
  border-radius: 2vw;
  font-size: 2.4vw;
  text-align: center;
  color: rgb(132, 172, 206);
  background-color: rgb(10, 95, 67);
  margin: 1vw;
  font-family: "MyCustomFont", sans-serif;
}

body {
  background-color: black;
  font-family: "MyCustomFont", sans-serif;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./Pixeloid.ttf") format("truetype");
}

.all {
  padding-left: 15vw;
}
